@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color-white: hsl(0, 0%, 100%);
    --bg-color-dark: hsl(60, 5%, 4%);
    --bg-color-dark-lite: hsl(120, 2%, 8%);
    --br: 0.5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    background-image: radial-gradient(circle at 67% 83%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), linear-gradient(90deg, rgb(22, 176, 207), rgb(103, 7, 215));

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    transform: scale(0);
    width: 300px;
    background-color: var(--bg-color-dark);
    border-radius: var(--br);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wrapper .menu {
    padding: 0.6em 0.7em;
    display: flex;
    flex-direction: column;

    gap: 0.2em;
}

.contend .item {
    list-style: none;
    font-size: 1em;
    height: 40px;
    border-radius: var(--br);
    color: var(--bg-color-white);
    font-weight: 500;
    padding: 0 5px 0 10px;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    transition: background 0.4s linear;
    width: 100%;
}

.contend .item:hover {
    background-color: hsl(60, 2%, 12%);
}

.setting {
    display: flex;
    padding: 4px 12px;
    /* padding-bottom: 4px; */
    border-top: 2px solid hsl(120, 1%, 17%);
}

.share {
    position: relative;
    justify-content: space-between;
}

.share div {
    display: flex;
    gap: 1em;
}

.share-menu {
    position: absolute;
    background-color: var(--bg-color-dark);
    width: 200px;
    right: -208px;
    top: -35px;
    border-radius: var(--br);
    padding: 13px;
    opacity: 0;
    /* pointer-events: none; */
    box-shadow: 0 2px 10px var(--bg-color-dark-lite);
    transition: 0.2s ease;
}

.share:hover .share-menu {
    opacity: 1;
    pointer-events: auto;
}